@using Core.Constant

@{
    string DepartmentsText = "Yarı Mamul Depo";
    string ControllerText = "yarimamuldepo";

    var firstDay = new DateTime(DateTime.Now.Year, 1, 1);
    var firstDate = firstDay.AddDays((WeekOfDay.WeekNow * 7) + 1).ToShortDateString();
    var lastDate = firstDay.AddDays((WeekOfDay.WeekNow * 7) + 6).ToShortDateString();
}


@{
    ViewData["Title"] = "" + @DepartmentsText + " Personel";
    Layout = "_Layout";
}

@model List<Entities.Dto.DepartmentsPersonelDto>
@await Html.PartialAsync("_StationView")
<div class="card">
    <div class="card-header">
        <div class="card-title col-6 float-left">
            <h4><strong>@DepartmentsText Personel Listesi Dashboard</strong></h4>
        </div>
        <div class="col-6 float-left">
            <a style="width: 120px;" asp-controller="@ControllerText" asp-action="shift"
                class="btn btn-sm bg-secondary float-right"><i class="fa-solid fa-clock fa-fade mr-2"></i>Vardiya</a>
            <a style="width: 120px;" asp-controller="@ControllerText" asp-action="overtime"
                class="btn btn-sm bg-secondary float-right mr-2"><i
                    class="fa-solid fa-stopwatch fa-fade mr-2"></i>Mesai</a>
        </div>
    </div>
    <div class="card-body">
        <table id="hr-table" class="table">
            <thead>
                <tr>
                    <th>Personel Ad Soyad</th>
                    <th>Bölüm</th>
                    <th>Servis</th>
                    <th>Durak</th>
                    <th>Vardiya</th>
                    <th>Mesai</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name @item.Surname</td>
                        <td>@item.DepartmentName</td>
                        <td>@item.ServiceName</td>
                        <td>@item.StationName</td>
                        <td>@item.ShiftName</td>
                        <td>@item.OvertimeName</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Personel Ad Soyad</th>
                    <th>Bölüm</th>
                    <th>Servis</th>
                    <th>Durak</th>
                    <th>Vardiya</th>
                    <th>Mesai</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>