@{
    ViewData["Title"] = "İnsan Kaynakları";
    Layout = "_Layout";
}
@model List<Entities.Dto.HRPersonelDto>
@await Html.PartialAsync("_StationView")
<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h3><strong>Personel Listesi</strong></h3>
        </div>
    </div>
    <div class="card-body">
        <table id="hr-table" class="table">
            <thead>
                <tr>
                    <th>TC Kimlik</th>
                    <th>Personel Sicil</th>
                    <th>Personel Ad Soyad</th>
                    <th>Bölüm</th>
                    <th>Servis</th>
                    <th>Durak</th>
                    <th>Vardiya</th>
                    <th>Mesai</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TCKN</td>
                        <td>@item.RegisterNo</td>
                        <td>@item.Name @item.Surname</td>
                        <td>@item.departmanName</td>
                        <td>@item.serviceName</td>
                        <td>@item.stationName</td>
                        <td>@item.shiftName</td>
                        <td>@item.overtimeName</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>TC Kimlik</th>
                    <th>Personel Sicil</th>
                    <th>Personel Ad Soyad</th>
                    <th>Bölüm</th>
                    <th>Servis</th>
                    <th>Durak</th>
                    <th>Vardiya</th>
                    <th>Mesai</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>