@using Core.Constant
@{
    string DepartmentsText = "Satış ve Pazarlama";
    string ControllerText = "SatisvePazarlama";

    var firstDay = new DateTime(DateTime.Now.Year, 1, 1);
    var firstDate = firstDay.AddDays((WeekOfDay.WeekNext * 7) + 1).ToShortDateString();
    var lastDate = firstDay.AddDays((WeekOfDay.WeekNext * 7) + 6).ToShortDateString();
}
@{
    ViewData["Title"] = "" + @DepartmentsText + " - " + @WeekOfDay.WeekNext + ". Hafta Personel Vardiya Ekle | " +
            (@firstDate)
            + " - " + (@lastDate) + "";
            
    Layout = "_Layout";
}
@model Web.Models.DepartmentsPersonelNextShiftsVM

<form asp-controller="@ControllerText" asp-action="nextweek_shift_add" method="post">

    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <h5>
                    <strong>@ViewData["Title"]</strong>
                </h5>
            </div>
        </div>
        <div class="card-body">
            <table id="departments-add-table" class="table">
                <thead>
                    <th hidden>Req</th>
                    <th>Personel Ad Soyad</th>
                    <th>Bölüm</th>
                    <th>Servis</th>
                    <th>Durak</th>
                    <th class="text-center">Önceki Vardiya</th>
                    <th class="text-center">Planlanan Vardiya</th>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.DepartmentsPersonelDtoNextShiftVM.Count(); i++)
                    {
                        <tr>
                            <td hidden><input asp-for="@Model.DepartmentsPersonelDtoNextShiftVM[i].RegisterNo" value="@Model.DepartmentsPersonelDtoNextShiftVM[i].RegisterNo"></td>
                            <td>@Model.DepartmentsPersonelDtoNextShiftVM[i].Name
                                @Model.DepartmentsPersonelDtoNextShiftVM[i].Surname</td>
                            <td>@Model.DepartmentsPersonelDtoNextShiftVM[i].DepartmentName</td>
                            <td>@Model.DepartmentsPersonelDtoNextShiftVM[i].ServiceName</td>
                            <td>@Model.DepartmentsPersonelDtoNextShiftVM[i].StationName</td>
                            @for (int z = 0; z < Model.DepartmentsPersonelDtoVM.Count(); z++)
                            {
                                @if (Model.DepartmentsPersonelDtoNextShiftVM[i].RegisterNo ==
                               Model.DepartmentsPersonelDtoVM[z].RegisterNo)
                                {
                                    @if (@Model.DepartmentsPersonelDtoVM[z].ShiftName != null)
                                    {
                                        <td class="text-center">@Model.DepartmentsPersonelDtoVM[z].ShiftName</td>
                                    }
                                    else
                                    {
                                        <td class="text-center">-</td>
                                    }

                                }
                            }
                            @for (int j = 0; j < Model.DepartmentsPersonelDtoVM.Count(); j++)
                            {
                                @if (Model.DepartmentsPersonelDtoNextShiftVM[i].RegisterNo ==
                               Model.DepartmentsPersonelDtoVM[j].RegisterNo)
                                {
                                    @if (Model.DepartmentsPersonelDtoVM[j].ShiftId == null)
                                    {
                                        <td class="text-center">
                                            <select asp-for="@Model.DepartmentsPersonelDtoNextShiftVM[i].ShiftId" class="form-control form-control-sm text-center">
                                                <option selected disabled value="0">* Vardiya Seçin *</option>
                                                @for (int z = 0; z < Model.Shifts.Count(); z++)
                                                {
                                                    <option value="@Model.Shifts[z].Shiftid">@Model.Shifts[z].Shiftname</option>
                                                }
                                            </select>
                                        </td>
                                    }
                                    else if (Model.DepartmentsPersonelDtoVM[j].ShiftId == 1)
                                    {

                                        <input hidden type="text" value="6"
                            asp-for="@Model.DepartmentsPersonelDtoNextShiftVM[i].ShiftId">
                                        <td class="text-center"><strong class="text-success">00:00 - 08:00</strong></td>

                                    }
                                    else if (Model.DepartmentsPersonelDtoVM[j].ShiftId == 6)
                                    {

                                        <input hidden type="text" value="5"
                            asp-for="@Model.DepartmentsPersonelDtoNextShiftVM[i].ShiftId">
                                        <td class="text-center"><strong class="text-success">16:00 - 24:00</strong></td>

                                    }
                                    else if (Model.DepartmentsPersonelDtoVM[j].ShiftId == 5)
                                    {

                                        <input hidden type="text" value="1"
                            asp-for="@Model.DepartmentsPersonelDtoNextShiftVM[i].ShiftId">
                                        <td class="text-center"><strong class="text-success">08:00 - 16:00</strong></td>

                                    }
                                    else if (Model.DepartmentsPersonelDtoVM[j].ShiftId == 2)
                                    {

                                        <input hidden type="text" value="2"
                            asp-for="@Model.DepartmentsPersonelDtoNextShiftVM[i].ShiftId">
                                        <td class="text-center"><strong class="text-success">08:00 - 18:00</strong></td>

                                    }
                                }
                            }
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <th hidden>Req</th>
                    <th>Personel Ad Soyad</th>
                    <th>Bölüm</th>
                    <th>Servis</th>
                    <th>Durak</th>
                    <th class="text-center">Önceki Vardiya</th>
                    <th class="text-center">Planlanan Vardiya</th>
                </tfoot>
            </table>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success float-right"><i class="fa-solid fa-plus fa-fade mr-2"></i> Kaydet</button>

        </div>
    </div>

</form>